$black : #050D14;
$white : #FFFFFF;

@layer Base{ 
:root {
    $base-size : 1rem;
    $scale : 1.25;
    $h5 : calc($base-size * $scale);
    $h4 : calc($h5 * $scale);
    $h3 : calc($h4 * $scale);
    $h2 : calc($h3 * $scale);
    $h1 : calc($h2 * $scale);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
body {
    font: {
        size: 16px;
        family:"sans-serif";
    }
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
}

@layer HomePage{
    .home{
        background-color: $black;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        color:$white;

        &-info {
            max-width: 600px;
            color: $white;
            h1{
                font-size: 3.75rem; 
                line-height: 1;
            }
            p{  
                font-size: 1.25rem;
                opacity: 60%;
            }
            button{
                background-color: rgb(37 99 235);
                font-size: 1rem;
                color: $white;
                border-radius: 0.5rem;
                padding: 1rem 1rem 1rem 1rem;
            }
        }
    }
}


.content {
    margin-bottom: 60px;
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-flow: column;
}

@media (min-width: 768px) {
    .content {
        margin-bottom: 0px;
        margin-top: 60px;
        padding-left: 0px;
        align-items: center;
        width: 100%;
    }
  }