.load {
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #212121;
    margin-bottom: 10px;
}

.no_load {
    margin-bottom: 10px;
}